.mensagem{
    border: 3px solid rgb(241, 0, 0);
    background-color: rgb(185, 225, 232);
    color: red;
}
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-image:url(a7b9125b83f8a98e1a40ad1336d72851.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
h1{
    color: rgb(14, 242, 2);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
button{
    color: rgb(14, 242, 0);
    border-color: rgba(19, 180, 24, 0.148);
    background-color: rgb(0, 0, 0);
}
div label {
    color: rgb(98, 0, 235);
}

#email{
    background-color:green;
    border-radius: 10px;
    
}

#senha{
    background-color: rgba(60, 255, 0, 0.509);
    border-radius: 10px;
    
}
div label{
    color: rgb(1, 237, 40);
}