body{
background-image: url(https://conceito.de/wp-content/uploads/2024/01/secret-3120483_1280.jpg);
background-repeat: no-repeat;
  height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align:center;
}
h1{
    color: rgb(46, 109, 64);
    text-align: center;
    padding: 0;
    margin: 0;

}
h2{
color: #7e0303;
}
/* Quadrados transparentes */
.ret {
    background: rgba(18, 1, 1, 0.331);
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
    gap: 0;
    margin-top: 40px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border-left: 7px solid #247c60;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 4px 4px 8px black;
    color: #7e0303;
}
.ret {
    display: flex;
    justify-content: center;
    gap: 25px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 14px;
    overflow: hidden;
    backdrop-filter: blur(4px);
}
p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

nav ul li a{
    color: aqua;
}