body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-image:url(https://alemdatorrez.wordpress.com/wp-content/uploads/2017/03/z-1969.jpg?w=300);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 150px 50px 50px 50px;}