body{
background-image: url(https://img.freepik.com/fotos-premium/retrato-de-mulher-asiatica-compoem-fantasmacena-de-terror-assustadora-para-fundoconceito-de-festival-de-halloweenposter-de-filmes-fantasmasespirito-zangado-no-apartamento_44277-26042.jpg?semt=ais_hybrid&w=740&q=80);
background-repeat: no-repeat;
  height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    text-align:center;
}
h1{
    color: rgba(181, 7, 7, 0.297);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div p{
    color: rgba(240, 255, 255, 0.333);
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a{
    color: rgba(238, 238, 238, 0.521);
}
h2{
    color: rgba(255, 0, 0, 0.473);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div a{
    color: rgba(86, 7, 7, 0.986);
    font-family: Arial, Helvetica, sans-serif;
}
table thead tr{
    border-radius: 50px;
    border-color: rgba(237, 0, 0, 0.326);
    color: bisque;
}

