body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Vz-TPP2kCePe10Eeu3ayEUGYW1iWDb06Nw&s);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 150px 50px 50px 50px;}

div{
    color: rgb(71, 56, 52);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
div label{
    color: brown;
}
h2{
    color: rgb(80, 15, 15);
}
div a{
    color: rgb(35, 35, 68);
}